!> \mainpage Hampath routines documentation
<ul>
    <li> \ref problemDefinition "sfun, hfun and parfun." </li><br>
</ul>
<ul>
    <li> \ref hfunPackage "hfun package." </li><br>
    <li> \ref hvfunPackage "hvfun package." </li><br>
    <li> \ref dhvfunPackage "dhvfun package." </li><br>
    <li> \ref d2hvfunPackage "d2hvfun package." </li><br>
    <li> \ref exphvfunPackage "exphvfun package." </li><br>
    <li> \ref expdhvfunPackage "expdhvfun package." </li><br>
    <li> \ref sfunPackage "sfun package." </li><br>
    <li> \ref sjacPackage "sjac package." </li><br>
    <li> \ref ssolvePackage "ssolve package." </li><br>
    <li> \ref hampathPackage "hampath package." </li><br>
    <li> \ref hybrdPackage "hybrd package." </li><br>
</ul>
<ul>
    <li> \ref globalVariables "Global variables." </li><br>
    <li> \ref modulesInterfaces "Fortran interface." </li><br>
    <li> \ref commonLists "List managing." </li><br>
    <li> \ref commonIntegration "Integration." </li><br>
    <li> \ref commonDerivatives "Derivatives." </li><br>
    <li> \ref commonInitialization "Initialization methods." </li><br>
    <li> \ref commonUtils "Useful auxiliary routines." </li><br>
</ul>
<br>

!> @defgroup problemDefinition sfun, hfun and parfun
The fortran files describing the optimal control problem.

!> @defgroup globalVariables Global variables
Global variables used in all hampath package

!> @defgroup modulesInterfaces Fortran interface
Modules which make the link between user interface and the core of the code

!> @defgroup commonLists List managing
Functions useful to manage FILO list, to save results while processing

!> @defgroup commonIntegration Integration
Integration common methods

!> @defgroup commonDerivatives Derivatives
Derivatives from hfun, sfun and parfun, and Jacobi solutions

!> @defgroup commonInitialization Initialization methods
Subroutines which initialize the global variables and others

!> @defgroup commonUtils Useful auxiliary routines
Auxiliary subroutines used in main methods

!> @defgroup hfunPackage hfun package

!> @defgroup hvfunPackage hvfun package

!> @defgroup dhvfunPackage dhvfun package

!> @defgroup d2hvfunPackage d2hvfun package

!> @defgroup exphvfunPackage exphvfun package

!> @defgroup expdhvfunPackage expdhvfun package

!> @defgroup sfunPackage sfun package

!> @defgroup sjacPackage sjac package

!> @defgroup ssolvePackage ssolve package

!> @defgroup hampathPackage hampath package

!> @defgroup hybrdPackage hybrd package

